/****************/
/* HOME PAGINA  */
/****************/

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-main:#fadeec;
	--color-background:#657b9f;
	--gradient-one:linear-gradient(
		45deg,
		#fadeec,
		#6E6B86,
		#fadeec,
		#6E6B86,
		#fadeec,
		#6E6B86
	)
}


/****************/
/* ALGEMEEN */
/****************/

* {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: 'League Spartan', 'Sans Serif';
	color: var(--color-main);
}

body {
	background-color: var(--color-background);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/****************/
/* HEADER + NAV  */
/****************/

nav {
	margin-top: 1em;
	text-align: center;
	transform-origin: center;
}

nav ul li {
	list-style-type: none;
	height: fit-content;
}

nav ul li a {
	color: var(--color-main);
	background-color: #657b9f80;
	padding: 0.4em;
	border-radius: 0.2em;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: underline;
	font-family: 'League Spartan';
	font-size: 1.2em;
}

nav ul li a:hover {
	background-color: var(--color-background);
}

header {
	position: fixed;
}

header nav ul {
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows:repeat(6, 1fr);
	width: 100vw;
	height: 100vh;
}

nav ul li:nth-child(1) {
	grid-column-start: 2;
	grid-row-start: 1;
}

nav ul li:nth-child(2) {
	grid-column-start: 1;
	grid-row-start: 2;
}

nav ul li:nth-child(3) {
	grid-column-start: 3;
	grid-row-start: 2;
}

nav ul li:nth-child(4) {
	grid-column-start: 1;
	grid-row-start: 4;
}

nav ul li:nth-child(5) {
	grid-column-start: 3;
	grid-row-start: 4;
}

nav ul li:nth-child(6) {
	grid-column-start: 1;
	grid-row-start: 6;
}

nav ul li:nth-child(7) {
	grid-column-start: 3;
	grid-row-start: 6;
} 

nav ul li:hover {
	animation-name: navhome-animation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

@keyframes navhome-animation {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.2;
	}
	100% {
		scale: 1;
	}
}

/****************/
/* MAIN  */
/****************/

.visually_hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* bron: https://css-tricks.com/almanac/selectors/a/attribute/#:~:text=To%20use%20this%20selector%2C%20add%20a%20tilde%20(~)%20before%20the,starts%20with%20the%20selected%20term. */
main img[alt~="Logo"] {
	margin-top: 8.8em;
	z-index: 2;
	position: fixed;
}

/****************/
/* BACKGROUND IMAGES  */
/****************/

main section:nth-of-type(2) {
	overflow-y: scroll;
}

img {
	width: 100vw;
	height: 100vh;
	z-index: -1;
	object-fit: cover;
}

/********************/
/* OPMAAK SECTIONS  */
/********************/

main section:nth-of-type(1), main section:nth-of-type(2), main section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	background-color: #657b9f80;
	padding: 0.4em;
	border-radius: 0.3em;
	width: 72vw;
}

main section:hover {
	background-color: var(--color-background);
}

/*************************/
/* WHO IS LEWIS CAPALDI  */
/*************************/

main section:nth-of-type(2) {
	margin-top: 13em;
	width: 90vw;
}

/*****************************/
/* ALBUM TITLE + BUY BUTTON  */
/*****************************/

main section:first-of-type {
	margin-top: 36.5em;
}

main section:hover {
	background-color: var(--color-background);
}

main section a, section label {
	color: black;
	padding: 9px 18px;
	border-radius: 0.2em;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bolder;
	background-image: var(--gradient-one);
	background-size: 200% 200%;
	background-position:left bottom;
	animation-name: gradient-animation;
  	animation-duration: 3s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
	cursor: pointer;
	width: 9.5em;
	text-decoration: none;
}

button:hover {
	animation-name: gradient2-animation;
  	animation-duration: 3s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
}

@keyframes gradient-animation {
	0% {
	  background-position: left bottom;
	}
	100% {
	  background-position: right top;
	}
}

@keyframes gradient2-animation {
	0% {
	  background-position: right top;
	}
	100% {
	  background-position: left bottom;
	}
}

/****************/
/* VIDEO  */
/****************/

main section:nth-of-type(3) {
	margin-top: 29em;
}

input[type="checkbox"]:checked + video {
    display: block;
}

video {
    display: none;
}

label {
	color: black;
	cursor: pointer;
}

/****************/
/* FOOTER  */
/****************/

footer {
	width: 100%;
	bottom: 0;
	position: fixed;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: var(--color-main);
	cursor: pointer;
}

footer ul li {
	display: flex;
	flex-direction: row;
}