/****************/
/* HOME PAGINA  */
/****************/

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#fadeec;
	--color-background:#657b9f;
}


/****************/
/* ALGEMEEN */
/****************/

* {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: 'League Spartan', 'Sans Serif';
	color: #fadeec;
}

body {
	background-color: var(--color-background);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/****************/
/* HEADER + NAV  */
/****************/

nav {
	margin-top: 1em;
	text-align: center;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	color: #fadeec;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'League Spartan';
	font-size: 1.2em;
}

header {
	position: fixed;
}

header nav ul {
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows:repeat(6, 1fr);
	width: 100vw;
	height: 100vh;
}

nav ul li:nth-child(1) {
	grid-column-start: 2;
	grid-row-start: 1;
}

nav ul li:nth-child(2) {
	grid-column-start: 1;
	grid-row-start: 2;
}

nav ul li:nth-child(3) {
	grid-column-start: 3;
	grid-row-start: 2;
}

nav ul li:nth-child(4) {
	grid-column-start: 1;
	grid-row-start: 4;
}

nav ul li:nth-child(5) {
	grid-column-start: 3;
	grid-row-start: 4;
}

nav ul li:nth-child(6) {
	grid-column-start: 1;
	grid-row-start: 6;
}

nav ul li:nth-child(7) {
	grid-column-start: 3;
	grid-row-start: 6;
} 

/****************/
/* ALBUM TITLE + BUY BUTTON  */
/****************/

main section:first-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	margin-top: 15.5em;
}

button {
	color: #6E6B86;
	background-color: #fadeec;
	padding: 9px 18px;
	text-transform: uppercase;
	font-size: 12px;
}

/****************/
/* MAIN  */
/****************/

h1 {
	position: fixed;
	margin-top: 5em;
}

/****************/
/* BACKGROUND IMAGES  */
/****************/

main section:nth-of-type(2) {
	overflow-y: scroll;
}

img {
	width: 100vw;
	height: 100vh;
	z-index: -1;
	object-fit: cover;
}

/****************/
/* FOOTER  */
/****************/

footer {
	width: 100%;
	bottom: 0;
	position: fixed;
	text-align: center;
}

footer a, footer p {
	text-decoration: none;
	color: #fadeec;
}

footer ul li {
	display: flex;
	flex-direction: row;
}

/****************/
/* ANIMATIONS  */
/****************/

